<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    <title>Binus Locator</title>
</head>
<body>
    <a href="{% url 'floyd' %}">Floyd-Warshall's Algorithm</a>
    <div class="logo">
        <img src="{% static 'logo.png' %}">
        <h1 class="name">Johnson's Algorithm</h1>
        <p>Binus Locator</p>
    </div>
    <div class="dropdown-container">
        <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
        <a href="{%url 'index' %}"> Restaurants </a>
        <a href="{% url 'showrec' %}"> Recreational </a>
        <a href="{% url 'showuniversity' %}"> University </a>
        <a href="{% url 'showmall' %}"> Malls </a>
        </div>
    </div>
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>