<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    <title>Binus Locator</title>
</head>
<body>
    <a href="{% url 'floyd' %}">Floyd-Warshall Algorithm</a>
    <div class="logo">
        <img src="{% static 'logo.png' %}">
        <h1 class="name">Johnson's Algorithm</h1>
        <p>Binus Locator</p>
    </div>
    <div class="dropdown">
        <span>Click here to select a location</span>
        <div class="dropdown-content">
        <a href="#"> Restaurants </a>
        <a href="#"> Recreational </a>
        <a href="#"> Stores </a>
        </div>
      </div>
    <iframe src="{% url 'restaurant' %}" title="Iframe" width="900" height="500"></iframe>
</body>
</html>