body{
    font-family: monospace;
    background-color: #462671;
    color:antiquewhite
}
.logo {
    display: block;
    width: 300px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.logo img{
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 25px;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropbtn {
    background-color: #020246;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: monospace;
    border-radius: 50px;
    transition:0.3s
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #000029;
  }

iframe{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 1000;
    height: 2500;
}

a{
    color:darkcyan
}